<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="copyright" content="">
    <meta name="email" content="">
    <meta name="charset" content="UTF-8">
    <meta name="rating" content="">
    <meta name="robots" content="">
    <title>信州人家网——关注民生，贴近市民，服务百姓</title>
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv.min.js"></script>
    <script src="../lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" media="screen" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" media="screen" type="text/css" href="../assets/style/common.css" />
    <link rel="stylesheet" media="screen" type="text/css" href="../assets/style/index.css" />
</head>

<body>
    <div class="wrapper-header">
        <div class="header clearfix">
            <div class="wrapper-logo"><img src="../assets/image/logo.png" /></div>
            <div class="wrapper-nav">
                <ul class="clearfix">
                    <li><a class="a01" href="/">首页</a></li>
                    <li><a class="a02" href="xinzhou.html">最信州</a></li>
                    <li><a class="a03" href="/plus/list.php?tid=68">热资讯</a></li>
                    <li><a class="a04" href="special.html">专题集</a></li>
                    <li><a class="a05" href="/plus/list.php?tid=67">镇街窗</a></li>
                    <li><a class="a06" href="/plus/list.php?tid=69">部门行</a></li>
                    <li><a class="a07" href="/plus/list.php?tid=70">文明实践</a></li>
                    <li><a class="a08" href="picture.html">美如画</a></li>
                    <li><a class="a09" href="/plus/list.php?tid=71">融直播</a></li>
                    <li><a class="a10" href="/plus/list.php?tid=76">短视频</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 导航栏下方通栏广告 -->
    <div class="wrapper-tl">
        <div class="tl">
            <a href="https://xzrj.cn/plus/list.php?tid=182" id="qyuef"><img src="../assets/uploadfile/1-2106061H222201.jpg" border="0" /></a>
        </div>
    </div>
    <!-- 4个专题列表 -->
    <div class="wrapper-tl">
        <div class="tl">
            <ul class="wrapper-spec clearfix">
                <li class='s1'>
                    <a href="/plus/view.php?aid=35991" title="2021网络中国节·端午" target="_blank">
                        <img src="../assets/uploadfile/1-2106120010460-L.jpg" alt="" />
                    </a>
                </li>
                <li class='s2'>
                    <a href="/plus/view.php?aid=34165" title="国家安全教育" target="_blank">
                        <img src="../assets/uploadfile/1-2104121K2380-L.jpg" alt="" />
                    </a>
                </li>
                <li class='s3'>
                    <a href="/plus/view.php?aid=34004" title="反诈骗" target="_blank">
                        <img src="../assets/uploadfile/1-21031R006190-L.jpg" alt="" />
                    </a>
                </li>
                <li class='s4'>
                    <a href="/plus/view.php?aid=33931" title="奋斗百年路 启航新征程" target="_blank">
                        <img src="../assets/uploadfile/1-21031112513QG.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 幻灯片和头条 -->
    <div class="wrapper-tl">
        <div class="tl clearfix">
            <div class="wrapper-carousel">
                <div id="carouselTopNews" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselTopNews" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselTopNews" data-slide-to="1"></li>
                        <li data-target="#carouselTopNews" data-slide-to="2"></li>
                        <li data-target="#carouselTopNews" data-slide-to="3"></li>
                        <li data-target="#carouselTopNews" data-slide-to="4"></li>
                        <li data-target="#carouselTopNews" data-slide-to="5"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class='carousel-item active'>
                            <img src="../assets/uploadfile/1-210F1225I80-L.gif" class="d-block w-100" alt="【学党史 践初心】信州区党员干部群众收听收看庆祝中国共产党成立100周年大会盛况" />
                            <div class="carousel-caption d-none d-md-block">
                                <h5><a href="/html/zxz/2021/0701/36170.html">【学党史 践初心】信州区党员干部群众收听收看庆祝中国共产党成立100周年大会盛况</a></h5>
                            </div>
                        </div>
                        <div class='carousel-item'>
                            <img src="../assets/uploadfile/1-2106301126460-L.jpg" class="d-block w-100" alt="丁晓胜到我区调研防汛工作" />
                            <div class="carousel-caption d-none d-md-block">
                                <h5><a href="/html/zxz/2021/0630/36149.html">丁晓胜到我区调研防汛工作</a></h5>
                            </div>
                        </div>
                        <div class='carousel-item'>
                            <img src="../assets/uploadfile/1-21062H130440-L.gif" class="d-block w-100" alt="信州区总工会“庆建党百年 展职工风采”征文、书法、美术、摄影作品开展了！" />
                            <div class="carousel-caption d-none d-md-block">
                                <h5><a href="/html/zxz/2021/0627/36092.html">信州区总工会“庆建党百年 展职工风采”征文、书法、美术、摄影作品开展了！</a></h5>
                            </div>
                        </div>
                        <div class='carousel-item'>
                            <img src="../assets/uploadfile/1-2106252302540-L.jpg" class="d-block w-100" alt="廖其志到信州区走访慰问党内荣誉表彰对象、老党员和生活困难党员" />
                            <div class="carousel-caption d-none d-md-block">
                                <h5><a href="/html/zxz/2021/0625/36080.html">廖其志到信州区走访慰问党内荣誉表彰对象、老党员和生活困难党员</a></h5>
                            </div>
                        </div>
                        <div class='carousel-item'>
                            <img src="../assets/uploadfile/1-2106242324220-L.jpg" class="d-block w-100" alt="区领导开展“七一”走访慰问活动" />
                            <div class="carousel-caption d-none d-md-block">
                                <h5><a href="/html/zxz/2021/0624/36066.html">区领导开展“七一”走访慰问活动</a></h5>
                            </div>
                        </div>
                        <div class='carousel-item'>
                            <img src="../assets/uploadfile/1-2106232054080-L.jpg" class="d-block w-100" alt="86份！朝阳的一群小朋友们收到一份“神秘大礼”" />
                            <div class="carousel-caption d-none d-md-block">
                                <h5><a href="/html/zxz/2021/0623/36060.html">86份！朝阳的一群小朋友们收到一份“神秘大礼”</a></h5>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselTopNews" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselTopNews" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="wrapper-top">
                <div class="wrapper-top1">
                    <h1>
                        <a href="/html/zxz/2021/0701/36169.html" title="百年华诞！习近平这些话让人心潮澎湃">
                            百年华诞！习近平这些话让人心潮澎湃
                        </a>
                    </h1>
                    <p>
                        7月1日上午，庆祝中国共产党成立100周年大会在北京天安门广场隆重举行。中共中央总书记、国家主席、中央军委主席习近平发表重要讲话。
                    </p>
                </div>
                <div class="wrapper-zxz-gggs clearfix">
                    <!-- 最信州 -->
                    <div class="wrapper-zxz">
                        <ul class="ali">
                            <li>
                                <a href="/html/zxz/2021/0701/36170.html" title="【学党史 践初心】信州区党员干部群众收听收看庆祝中国共产党成立100周年大会盛况">
                                    【学党史 践初心】信州区党员干部群众…
                                </a>
                            </li>
                            <li>
                                <a href="/html/zxz/2021/0701/36168.html" title=" 民进“‘同心·彩虹行动’——上饶市开明书屋捐赠启动仪式”在上饶市信州区举行">
                                    民进“‘同心·彩虹行动’——上饶市…
                                </a>
                            </li>
                            <li>
                                <a href="/html/zxz/2021/0630/36153.html" title="【学党史 践初心】佳作云集 这场书画展不容错过！">
                                    【学党史 践初心】佳作云集 这场书画展…
                                </a>
                            </li>
                            <li>
                                <a href="/html/zxz/2021/0630/36149.html" title="丁晓胜到我区调研防汛工作">
                                    丁晓胜到我区调研防汛工作
                                </a>
                            </li>
                            <li>
                                <a href="/html/zxz/2021/0628/36144.html" title="区人大开展安全生产“一法一条例”执法检查">
                                    区人大开展安全生产“一法一条例”执…
                                </a>
                            </li>
                            <li>
                                <a href="/html/zxz/2021/0627/36093.html" title="信州区召开2021年上半年度经济社会发展及“双过半”工作调度会">
                                    信州区召开2021年上半年度经济社会发展…
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- 公告公示 -->
                    <div class="wrapper-gggs">
                        <ul class="ali">
                            <li>
                                <a href="/html/gsgg/2021/0701/36173.html" title="最新最全!2021年上饶各县、市、区中考分数线大汇总!">
                                    最新最全!2021年上饶各县、市、区中…
                                </a>
                            </li>
                            <li>
                                <a href="/html/gsgg/2021/0630/36150.html" title="今天恢复第一剂新冠疫苗接种！3-17岁青少年接种下步启动！">
                                    今天恢复第一剂新冠疫苗接种！3-1…
                                </a>
                            </li>
                            <li>
                                <a href="/html/gsgg/2021/0628/36114.html" title="上饶信州产业园规划环境影响评价第二次公示">
                                    上饶信州产业园规划环境影响评价第…
                                </a>
                            </li>
                            <li>
                                <a href="/html/gsgg/2021/0622/36055.html" title="2021年上饶市民办高中学校招生计划及收费标准等相关信息公示">
                                    2021年上饶市民办高中学校招生计划及…
                                </a>
                            </li>
                            <li>
                                <a href="/html/gsgg/2021/0606/35950.html" title="事关新冠疫苗接种！刚刚，上饶发布最新公告！">
                                    事关新冠疫苗接种！刚刚，上饶发布…
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 领导和二维码 -->
    <div class="wrapper-tl">
        <div class="tl clearfix">
            <div class="wrapper-leader">
                <div class="leader clearfix">
                    <div class="photo-head"><img src="../assets/image/pbg.jpg" alt="" /></div>
                    <div class="news">
                        <div class="info">
                            <h2>潘表光<span>信州区委书记</span></h2>
                        </div>
                        <ul class="ali">
                            <li>
                                <a href="/html/sjbdj/2021/0701/36171.html" title="【学党史 践初心】传承红色基因，潘表光在新党员入党宣誓活动提出这些要求">
                                    【学党史 践初心】传承红色基因，潘…
                                </a>
                            </li>
                            <li>
                                <a href="/html/sjbdj/2021/0630/36152.html" title="信州区召开全区防汛工作调度会">
                                    信州区召开全区防汛工作调度会
                                </a>
                            </li>
                            <li>
                                <a href="/html/sjbdj/2021/0627/36087.html" title="群众利益无小事 潘表光为来访群众解忧愁">
                                    群众利益无小事 潘表光为来访群众解…
                                </a>
                            </li>
                            <li>
                                <a href="/html/sjbdj/2021/0623/36058.html" title="潘表光督查农贸市场安全工作">
                                    潘表光督查农贸市场安全工作
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wrapper-leader">
                <div class="leader clearfix">
                    <div class="photo-head"><img src="../assets/image/ywh.jpg" alt="" /></div>
                    <div class="news">
                        <div class="info">
                            <h2>叶文华<span>信州区委副书记、区长</span></h2>
                        </div>
                        <ul class="ali">
                            <li>
                                <a href="/html/qzbdj/2021/0630/36151.html" title="区领导接访时强调：​要敢于担当、 勇于担责 ，实实在在为群众排忧解难">
                                    区领导接访时强调：​要敢于担当、…
                                </a>
                            </li>
                            <li>
                                <a href="/html/qzbdj/2021/0628/36143.html" title="信州区密集调度城市内涝防治工作">
                                    信州区密集调度城市内涝防治工作…
                                </a>
                            </li>
                            <li>
                                <a href="/html/qzbdj/2021/0627/36094.html" title="信州区召开安全生产工作会">
                                    信州区召开安全生产工作会
                                </a>
                            </li>
                            <li>
                                <a href="/html/qzbdj/2021/0627/36088.html" title="【学党史 践初心】叶文华到云碧峰国家森林公园管委会上党史学习教育辅导党课">
                                    【学党史 践初心】叶文华到云碧峰国…
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wrapper-ewm">
                <div class="ewm clearfix">
                    <div class="xzzx">
                        <img src="../assets/image/ewm_xzzx.png" alt="" />
                        <p>关注“信州资讯”微信公众号</p>
                    </div>
                    <div class="mlxz">
                        <img src="../assets/image/ewm_mlxz.png" alt="" />
                        <p>下载“魅力信州”APP</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 首页通栏广告2 -->
    <div class="wrapper-tl">
        <div class="tl">
            <a href="#" id="qyuef"><img src="../assets/uploadfile/1-210603203HS92.jpg" border="0" /></a>
        </div>
    </div>
    <!-- 信州新闻和短视频 -->
    <div class="wrapper-tl">
        <div class="tl clearfix">
            <div class="wrapper-xzxw">
                <div class="box">
                    <div class="title clearfix">
                        <a href="/plus/list.php?tid=76">短视频</a>
                        <span><a href="/plus/list.php?tid=76">更多</a></span>
                    </div>
                    <div class="content clearfix">
                        <div id="xzxw-player">
                            <iframe id="iframeXZXWPlayer" frameborder="0" width="400" height="300" allowFullScreen="true" src="https://v.qq.com/txp/iframe/player.html?vid=m32523d4de7"></iframe>
                        </div>
                        <ul class="xzxw-list">
                            <li>
                                <a href="javascript:void(0)" class="active" title="没有共产党就没有新中国" onclick="toggleXZXW('https://v.qq.com/txp/iframe/player.html?vid=m32523d4de7',this)">没有共产党就没有新中国…</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title=" 余云霞访谈 " onclick="toggleXZXW('https://v.qq.com/txp/iframe/player.html?vid=q3250797emx',this)"> 余云霞访谈 </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="上饶市第四中学" onclick="toggleXZXW('https://v.qq.com/txp/iframe/player.html?vid=i3248rsuw8x',this)">上饶市第四中学</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="上饶市第九小学“歌声班班响”《唱支山歌给党听》" onclick="toggleXZXW('https://v.qq.com/txp/iframe/player.html?vid=s32487kwydj',this)">上饶市第九小学“歌声班…</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="信州区：五四青年节 我为青春宣誓" onclick="toggleXZXW('https://v.qq.com/txp/iframe/player.html?vid=y32474krd8e',this)">信州区：五四青年节 我为…</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="公益宣传片：亲“密”无“间” " onclick="toggleXZXW('https://v.qq.com/txp/iframe/player.html?vid=v3247gn03vk',this)">公益宣传片：亲“密”无…</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="2021经济巡查片" onclick="toggleXZXW('https://v.qq.com/txp/iframe/player.html?vid=f3246cnpw8t',this)">2021经济巡查片</a>
                            </li>
                            <script type="text/javascript" src="../lib/index.js"></script>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wrapper-video">
                <div class="box">
                    <div class="title clearfix">
                        <a href="/plus/list.php?tid=75">美如画</a>
                        <span><a href="/plus/list.php?tid=75">更多</a></span>
                    </div>
                    <div class="content">
                        <ul class="ali-pic clearfix">
                            <li class='s1'>
                                <a href="/html/mrh/2021/0608/35971.html" title="第33个爱国卫生月海报" target="_blank">
                                    <img src="../assets/uploadfile/1-21060Q40P50-L.jpg" alt="" class="img-thumbnail" />
                                    <p>第33个爱国卫生月海报…</p>
                                </a>
                            </li>
                            <li class='s2'>
                                <a href="/html/mrh/2021/0608/35969.html" title="倡导文明健康生活方式主题公益广告" target="_blank">
                                    <img src="../assets/uploadfile/1-21060Q402330-L.jpg" alt="" class="img-thumbnail" />
                                    <p>倡导文明健康生活方…</p>
                                </a>
                            </li>
                            <li class='s3'>
                                <a href="/html/mrh/2021/0307/33910.html" title="信州区的油菜花开了，带你捕获这个惊艳的春天" target="_blank">
                                    <img src="../assets/uploadfile/1-21030G121040-L.jpg" alt="" class="img-thumbnail" />
                                    <p>信州区的油菜花开了…</p>
                                </a>
                            </li>
                            <li class='s1'>
                                <a href="/html/mrh/2020/1118/33062.html" title="昨天，上饶天空惊艳美景霸屏，刷爆朋友圈！" target="_blank">
                                    <img src="../assets/uploadfile/1-20111R24F30-L.jpg" alt="" class="img-thumbnail" />
                                    <p>昨天，上饶天空惊艳…</p>
                                </a>
                            </li>
                            <li class='s2'>
                                <a href="/html/mrh/2020/1022/32851.html" title="创城小漫画 展现大文明" target="_blank">
                                    <img src="../assets/uploadfile/1-2010222224310-L.jpg" alt="" class="img-thumbnail" />
                                    <p>创城小漫画 展现大文…</p>
                                </a>
                            </li>
                            <li class='s3'>
                                <a href="/html/mrh/2020/1018/32820.html" title="杜绝餐饮浪费，一起做个有“粮心”的“光盘侠" target="_blank">
                                    <img src="../assets/uploadfile/1-20101R150050-L.gif" alt="" class="img-thumbnail" />
                                    <p>杜绝餐饮浪费，一起…</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 热资讯和新信州报 -->
    <div class="wrapper-tl">
        <div class="tl clearfix">
            <div class="wrapper-rzx">
                <div class="box">
                    <div class="title clearfix">
                        <a href="/plus/list.php?tid=68">热资讯</a>
                        <span><a href="/plus/list.php?tid=68">更多</a></span>
                    </div>
                    <div class="content">
                        <ul>
                            <li>
                                <a target="_blank" class="clearfix" title="【学党史 践初心】为党庆生文艺汇演哪家强？ 期待你的点评" href="https://mp.weixin.qq.com/s/Whh_oIJmBHRRG_ID25kZew"><img src="../assets/uploadfile/1-210F12304150-L.jpg" class="img-thumbnail" alt="" />
                                    <p>【学党史 践初心】为党庆生文艺汇演哪家强？ 期待你的点评<span>来源：信州资讯 时间：07-01</span></p>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" class="clearfix" title="定向培养！招1682人" href="https://mp.weixin.qq.com/s/vFH8HO6-30UVhxpAxkwkEg"><img src="../assets/uploadfile/1-210F11924330-L.jpg" class="img-thumbnail" alt="" />
                                    <p>定向培养！招1682人<span>来源：信州资讯 时间：06-30</span></p>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" class="clearfix" title="浓情七月！“江西是个好地方——福地吉安” 网络主题推介月活动启动" href="https://mp.weixin.qq.com/s/-Em41PC2vPUsYCAZckkH1w"><img src="../assets/uploadfile/1-210630151P00-L.jpg" class="img-thumbnail" alt="" />
                                    <p>浓情七月！“江西是个好地方——福地吉安” 网络主题推介月活动启动<span>来源：吉安发布 时间：06-30</span></p>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" class="clearfix" title="刚刚，江西省防汛抗旱指挥部启动防汛Ⅳ级应急响应！" href="https://mp.weixin.qq.com/s/-uWCFWiQn6V-HLx2NioDrQ"><img src="../assets/uploadfile/1-21062QR4440-L.jpg" class="img-thumbnail" alt="" />
                                    <p>刚刚，江西省防汛抗旱指挥部启动防汛Ⅳ级应急响应！<span>来源：信州资讯 时间：06-28</span></p>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" class="clearfix" title="入汛以来最强降雨来袭！江西中小河流或发生较大洪水，请注意防范！" href="https://mp.weixin.qq.com/s/jNrpXddMUc1cWN7BUCrUHg"><img src="../assets/uploadfile/1-21062H126420-L.png" class="img-thumbnail" alt="" />
                                    <p>入汛以来最强降雨来袭！江西中小河流或发生较大洪水，请注意防范！<span>来源：信州资讯 时间：06-27</span></p>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" class="clearfix" title="信州区隆重庆祝建党100周年音乐党史课圆满落幕" href="https://mp.weixin.qq.com/s/kb8mP145rgRBsNuaRlxuZA"><img src="../assets/uploadfile/1-21062H11S60-L.jpg" class="img-thumbnail" alt="" />
                                    <p>信州区隆重庆祝建党100周年音乐党史课圆满落幕<span>来源：信州资讯 时间：06-27</span></p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wrapper-rzb-xxz">
                <div class="box rzb">
                    <div class="title clearfix">
                        <a href="/plus/list.php?tid=71">融直播</a>
                        <span><a href="/plus/list.php?tid=71">更多</a></span>
                    </div>
                    <div class="content">
                        <a href="/html/rzb/2020/0318/31233.html" title="信州区首场在线视频直播招聘会将于3月19日开播">
                            <img src="../assets/uploadfile/1-20031Q432560-L.jpg" width="600" height="200" />
                        </a>
                    </div>
                </div>
                <div class="box xxz">
                    <div class="title clearfix">
                        <a href="http://paper.people.com.cn/rmrb/paperindex.htm" target="_blank">在线读报</a>
                        <span><a href="http://paper.people.com.cn/rmrb/paperindex.htm" target="_blank">更多</a></span>
                    </div>
                    <div class="content">
                        <a href="http://paper.people.com.cn/rmrb/paperindex.htm" target="_blank">
                            <img src="../assets/image/rmrb.jpg" width="600" height="360" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 首页通栏广告3 -->
    <div class="wrapper-tl">
        <div class="tl">
            <a href="#" id="qyuef"><img src="../assets/uploadfile/1-210603203U1L6.jpg" border="0" /></a>
        </div>
    </div>
    <!-- 镇街窗、部门行、文明实践 -->
    <div class="wrapper-tl">
        <div class="tl clearfix">
            <div class="wrapper-zjc">
                <div class="box">
                    <div class="title clearfix">
                        <a href="/plus/list.php?tid=67">镇街窗</a>
                        <span><a href="/plus/list.php?tid=67">更多</a></span>
                    </div>
                    <div class="content">
                        <ul class="ali">
                            <li>
                                <a href="/html/zjc/2021/0701/36175.html" title="秦峰镇党员干部群众集中观看“七一勋章”授勋仪式 ">
                                    秦峰镇党员干部群众集中观看“七…
                                </a>
                            </li>
                            <li>
                                <a href="/html/zjc/2021/0701/36174.html" title="茅家岭街道举行庆祝建党100周年“七一”表彰大会">
                                    茅家岭街道举行庆祝建党100周年“…
                                </a>
                            </li>
                            <li>
                                <a href="/html/zjc/2021/0628/36145.html" title="【学党史 践初心】脱贫户们的心愿单">
                                    【学党史 践初心】脱贫户们的心…
                                </a>
                            </li>
                            <li>
                                <a href="/html/zjc/2021/0627/36097.html" title="秦峰镇党史学习教育知识竞赛圆满收官">
                                    秦峰镇党史学习教育知识竞赛圆满…
                                </a>
                            </li>
                            <li>
                                <a href="/html/zjc/2021/0627/36096.html" title="北门街道召开中心组暨党史学习教育第七次集体学习会 ">
                                    北门街道召开中心组暨党史学习教…
                                </a>
                            </li>
                            <li>
                                <a href="/html/zjc/2021/0623/36064.html" title="沙溪镇召开党委（扩大）会议专题部署安全生产工作">
                                    沙溪镇召开党委（扩大）会议专题…
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wrapper-bmx">
                <div class="box">
                    <div class="title clearfix">
                        <a href="/plus/list.php?tid=69">部门行</a>
                        <span><a href="/plus/list.php?tid=69">更多</a></span>
                    </div>
                    <div class="content">
                        <ul class="ali">
                            <li>
                                <a href="/html/bmx/2021/0627/36089.html" title="上饶师院大学生志愿者到信州区开展宣讲党史故事文明实践活动">
                                    上饶师院大学生志愿者到信州区开…
                                </a>
                            </li>
                            <li>
                                <a href="/html/bmx/2021/0625/36081.html" title="【学党史 践初心】信州区：出实招办实事 助力大学毕业生求职创业">
                                    【学党史 践初心】信州区：出实…
                                </a>
                            </li>
                            <li>
                                <a href="/html/bmx/2021/0621/36051.html" title="上饶市第十小学庆祝建党100周年活动举行">
                                    上饶市第十小学庆祝建党100周年活…
                                </a>
                            </li>
                            <li>
                                <a href="/html/bmx/2021/0618/36034.html" title="区城管局为民排忧零距离">
                                    区城管局为民排忧零距离
                                </a>
                            </li>
                            <li>
                                <a href="/html/bmx/2021/0616/36017.html" title="警号081313，我要谢谢你！">
                                    警号081313，我要谢谢你！
                                </a>
                            </li>
                            <li>
                                <a href="/html/bmx/2021/0615/36013.html" title="今天，信州区乡村振兴局正式挂牌成立！">
                                    今天，信州区乡村振兴局正式挂牌…
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wrapper-wmsj">
                <div class="box">
                    <div class="title clearfix">
                        <a href="/plus/list.php?tid=70">文明实践</a>
                        <span><a href="/plus/list.php?tid=70">更多</a></span>
                    </div>
                    <div class="content">
                        <ul class="ali-pic clearfix">
                            <li class='s1'>
                                <a href="/html/wmsj/2021/0418/34215.html" title="这些非法社会组织再活动，大家可报案！" target=_blank>
                                    <img src="../assets/uploadfile/1_210418195144_1-lp.jpg" alt="" class="img-thumbnail" />
                                    <p>这些非法社会组织再…</p>
                                </a>
                            </li>
                            <li class='s2'>
                                <a href="/html/wmsj/2021/0321/34014.html" title="这里，是金龙岗" target=_blank>
                                    <img src="../assets/uploadfile/1-2103211955300-L.png" alt="" class="img-thumbnail" />
                                    <p>这里，是金龙岗</p>
                                </a>
                            </li>
                            <li class='s1'>
                                <a href="/html/wmsj/2021/0317/33996.html" title="微夜校·信州党史故事：信江中学的“黄金时代”" target=_blank>
                                    <img src="../assets/uploadfile/1_210317211757_1-lp.jpg" alt="" class="img-thumbnail" />
                                    <p>微夜校·信州党史故…</p>
                                </a>
                            </li>
                            <li class='s2'>
                                <a href="/html/wmsj/2021/0317/33992.html" title="微夜校·信州党史故事：周恩来视察上饶" target=_blank>
                                    <img src="../assets/uploadfile/1_210317210011_1-lp.jpg" alt="" class="img-thumbnail" />
                                    <p>微夜校·信州党史故…</p>
                                </a>
                            </li>
                        </ul>
                        <ul class="ali">
                            <li>
                                <a href="/html/wmsj/2021/0701/36166.html" title="7月1日起，正式实施！">
                                    7月1日起，正式实施！
                                </a>
                            </li>
                            <li>
                                <a href="/html/wmsj/2021/0628/36141.html" title="飞往成都的旅客请注意！">
                                    飞往成都的旅客请注意！
                                </a>
                            </li>
                            <li>
                                <a href="/html/wmsj/2021/0627/36095.html" title="2021年酒驾新规：这3种行为不算酒驾了？">
                                    2021年酒驾新规：这3种行为不算…
                                </a>
                            </li>
                            <li>
                                <a href="/html/wmsj/2021/0627/36090.html" title="这笔收费终于要降了！">
                                    这笔收费终于要降了！
                                </a>
                            </li>
                            <li>
                                <a href="/html/wmsj/2021/0625/36084.html" title="区教体局关于暑期学生安全致全区家长一封信">
                                    区教体局关于暑期学生安全致全…
                                </a>
                            </li>
                            <li>
                                <a href="/html/wmsj/2021/0623/36062.html" title="从党的历史中“得到启迪、得到定力”">
                                    从党的历史中“得到启迪、得到…
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-footer">
        <div class="footer">
            <div class="wrapper-link">
                <a href="#">关于网站</a>
                <span>|</span>
                <a href="#">服务条款</a>
                <span>|</span>
                <a href="#">广告服务</a>
                <span>|</span>
                <a href="#">版权声明</a>
                <span>|</span>
                <a href="http://www.jxwj.gov.cn/">江西省网上警察</a>
                <span>|</span>
                <a href="https://www.12377.cn/" target="_blank">不良信息举报中心</a>
            </div>
            <div class="wrapper-info clearfix">
                <div class="wrapper-biaozhi">
                    <script type="text/javascript">
                    document.write(unescape(
                        "%3Cspan id='_ideConac' %3E%3C/span%3E%3Cscript src='http://dcs.conac.cn/js/15/233/0894/41263423/CA152330894412634230001.js' type='text/javascript'%3E%3C/script%3E"
                    ));
                    </script>
                </div>
                <div class="wrapper-copyright">
                    Copyright &copy; 2006 - 2020 中共上饶市信州区委宣传部 版权所有<br />
                    主办：信州区委、区政府、区委宣传部　承办：信州区融媒体中心<br />
                    设计制作维护：信州区融媒体中心　ICP备案号：<a href="http://beian.miit.gov.cn" target="_blank">赣ICP备12000972号-1</a><br />
                    服务热线：0793-8211109　电子邮箱：xzrjcn@163.com
                    <script type="text/javascript">
                    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                    document.write(unescape("%3Cscript src='" + _bdhmProtocol +
                        "hm.baidu.com/h.js%3Fa5f9481477646f8ef4248ac4e135a8d5' type='text/javascript'%3E%3C/script%3E"));
                    </script>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../lib/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>