<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="keywords" content="健康" />
    <meta name="description" content="健康教育" />
    <meta name="copyright" content="中共上饶市信州区委宣传部">
    <meta name="email" content="hqrush@qq.com">
    <meta name="charset" content="UTF-8">
    <meta name="rating" content="General">
    <meta name="robots" content="INDEX,FOLLOW">
    <title>信州人家网——关注民生，贴近市民，服务百姓</title>
   <!--[if lt IE 9]>
    <script src="../lib/html5shiv.min.js"></script>
    <script src="../lib/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" media="screen" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" media="screen" type="text/css" href="../assets/style/common.css" />
  <link rel="stylesheet" media="screen" type="text/css" href="../assets/style/list.css" />
  <link rel="stylesheet" media="screen" type="text/css" href="../assets/style/list-spec-arc.css" />
</head>

<body>
    <div class="wrapper-header">
        <div class="header clearfix">
            <div class="wrapper-logo"><img src="../assets/image/logo.png" /></div>
            <div class="wrapper-nav">
                <ul class="clearfix">
                    <li><a class="a01" href="/">首页</a></li>
                    <li><a class="a02" href="xinzhou.html">最信州</a></li>
                    <li><a class="a03" href="/plus/list.php?tid=68">热资讯</a></li>
                    <li><a class="a04" href="special.html">专题集</a></li>
                    <li><a class="a05" href="/plus/list.php?tid=67">镇街窗</a></li>
                    <li><a class="a06" href="/plus/list.php?tid=69">部门行</a></li>
                    <li><a class="a07" href="/plus/list.php?tid=70">文明实践</a></li>
                    <li><a class="a08" href="picture.html">美如画</a></li>
                    <li><a class="a09" href="/plus/list.php?tid=71">融直播</a></li>
                    <li><a class="a10" href="/plus/list.php?tid=76">短视频</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 导航栏下方通栏广告 -->
    <div class="wrapper-tl">
        <div class="tl">
            <a href="#" id="qyuef"><img src="../assets/uploadfile/1-200409121555Y7.jpg" border="0" /></a>
        </div>
    </div>
    <div class="wrapper-tl">
        <div class="tl clearfix">
            <div class="wrapper-list-spec-arc">
                <div class="box">
                    <div class="title">
                        <h6>
                            当前位置：<a href='xzrj.cn/'>信州人家网首页</a>专题文章列表
                        </h6>
                    </div>
                    <div class="content">
                        <div class="spec-img">
                            <img src="../assets/uploadfile/1-200409114026217.jpg" />
                        </div>
                        <div class="spec-title">
                            <h3>健康教育</h3>
                        </div>
                        <!-- <div class="spec-info">
              时间:2020-02-10 12:08
              责任编辑:信州人家网
            </div> -->
                        <div class="spec-desc">
                            <p><span>专题简介：</span>健康教育</p>
                        </div>
                        <div class="spec-note">
                            <div class="wrapper-note">
                                <dl>
                                    <dt>健康教育</dt>
                                    <dd>
                                        <ul>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2021/0305/33909.html' target='_blank'>练出好身体 迈进开学季</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2021/0303/33889.html' target='_blank'>春季吃“五菜”饮“五汤” 打好全年健康基础</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2021/0226/33860.html' target='_blank'>鸭血菠菜汤 养肝明目</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2021/0223/33844.html' target='_blank'>早晨起床头晕 可能是你的血压在报警</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2021/0221/33815.html' target='_blank'>买口罩不能只看颜值不看功能</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2021/0209/33738.html' target='_blank'>过年回不了家，如何应对不良情绪？</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2021/0206/33713.html' target='_blank'>冬日里泡脚有讲究</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2021/0202/33684.html' target='_blank'>乘火车飞机增加新冠感染风险？专家教你科学防护</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2021/0130/33660.html' target='_blank'>吃覆盆子煮鸡腰子 缓解冬季手脚冰凉</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2021/0126/33636.html' target='_blank'>坚持防控不松懈 过节尽量少聚集</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2021/0122/33598.html' target='_blank'>寒冬腊月要防五寒重补阳</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2021/0120/33574.html' target='_blank'>四类脂肪肝不宜做运动</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2021/0115/33540.html' target='_blank'>防疫课堂：居家清洁消毒做到“七要”</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2021/0112/33513.html' target='_blank'>30岁后，五类食物多上餐桌</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2021/0108/33488.html' target='_blank'>寒潮来袭 清晨更易触“冻”脑梗</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2021/0105/33462.html' target='_blank'>双节怎么过？哪里可以去？国内部分城市疫情防控措施一览</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1230/33417.html' target='_blank'>新冠疫苗接种非常有必要接种后要继续戴口罩</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1228/33399.html' target='_blank'>四类糖友最该防低血糖</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1226/33382.html' target='_blank'>北京发布儿童青少年肥胖防控实施方案</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1223/33366.html' target='_blank'>坏情绪助推肿瘤发展 5种饮品改善情绪</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1221/33340.html' target='_blank'>有效防治高血压远离“脑血管意外”</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1219/33325.html' target='_blank'>天冷更易崴脚别让脚脖子“僵”住</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1216/33309.html' target='_blank'>眼妆可能会伤眼 “口罩妆”最好不画</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1214/33296.html' target='_blank'>十种睡不好容易得老痴</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1213/33282.html' target='_blank'>健康提醒！粗粮吃得越多越好吗？</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1211/33263.html' target='_blank'>世卫报告公布全球十大死因心脏病仍是“头号杀手”</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1209/33247.html' target='_blank'>防寒要得当单纯补阳不可尝</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1207/33233.html' target='_blank'>鸡蛋里面竟藏着两味中药</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1204/33211.html' target='_blank'>手脚冰凉除了“虚”还要警惕三种病</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1202/33198.html' target='_blank'>手脚冰凉除了“虚”还要警惕三种病</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1130/33174.html' target='_blank'>为了保暖这些“坑”别踩</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1127/33149.html' target='_blank'>冬天心脏要过＂五道坎＂</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1125/33130.html' target='_blank'>补维生素C能预防感冒吗？</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1123/33113.html' target='_blank'>小雪至宜冬藏 养生有八大要点</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1120/33088.html' target='_blank'>降低新冠传播6招最有效</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1118/33050.html' target='_blank'>环境过于干净 孩子反而易患特应性皮炎</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1116/33033.html' target='_blank'>如何安全食用冷冻冰鲜食品</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1113/33014.html' target='_blank'>五谷搭配营养防病 羊肉煲汤缓解冬季手脚凉</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1111/32998.html' target='_blank'>秋季是干燥综合征高发时节 出现这些症状要注意</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1106/32969.html' target='_blank'>秋冬防疫这样吃增强免疫力</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1104/32952.html' target='_blank'>靠吃红枣补血不靠谱</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1102/32937.html' target='_blank'>防秋燥，这些食物跟秋天更配</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1030/32919.html' target='_blank'>这些症状说明心脏不好</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1028/32910.html' target='_blank'>来了！公民防疫基本行为准则</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1028/32909.html' target='_blank'>5个答案“解锁”不健康生活方式</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1026/32882.html' target='_blank'>老年人秋季重＂养心＂贵在＂三坚持＂</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1023/32866.html' target='_blank'>孩子该如何科学＂秋冻＂</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1021/32840.html' target='_blank'>秋季滋补养生吃豆腐补气血吃“三宝”</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1016/32812.html' target='_blank'>秋天爱奶茶如何喝既健康又美味</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1014/32793.html' target='_blank'>流感季如何提高免疫力</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1012/32764.html' target='_blank'>秋高气爽蟹黄鱼肥，但痛风患者们要注意了</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/1009/32745.html' target='_blank'>如何应对“秋火”上身</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0928/32678.html' target='_blank'>8种月饼发现菌落总数、过氧化值等不合规问题</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0923/32636.html' target='_blank'>人为什么会得痴呆 如何预防</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0917/32598.html' target='_blank'>睡眠差，要调心和肝</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0908/32546.html' target='_blank'>【健康生活】坐多久算久坐？睡多晚算熬夜？8个健康生活标准，你做到几个？</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0902/32494.html' target='_blank'>世卫组织和儿基会建议12岁及以上青少年佩戴口罩</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0901/32477.html' target='_blank'>疫情常态化防控下如何为身体筑牢“防火墙”</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0828/32458.html' target='_blank'>五类人群警惕胃癌</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0824/32404.html' target='_blank'>暑气渐消 日常饮食需要注意</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0821/32394.html' target='_blank'>坚持九点大脑老得慢</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0819/32385.html' target='_blank'>世卫组织呼吁做好持久抗疫准备</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0817/32367.html' target='_blank'>你适合“冬病夏治”吗</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0814/32350.html' target='_blank'>天气炎热 孩子一不小心就变成“口罩脸”</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0812/32324.html' target='_blank'>夏天多出点汗 没毛病</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0810/32301.html' target='_blank'>立秋已到！适宜吃瓜，养生牢记四点</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0807/32268.html' target='_blank'>吃西瓜五个要点要记牢</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0805/32250.html' target='_blank'>晒上30分钟，阳气就上来了</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0803/32226.html' target='_blank'>解锁高温防暑正确“姿势”</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0729/32202.html' target='_blank'>夏日炎炎 水果这样吃</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0727/32181.html' target='_blank'>烫伤后不可以抹酱油抹盐抹牙膏</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0724/32158.html' target='_blank'>大暑：养生讲究“清”“静”饮食把握三原则</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0722/32141.html' target='_blank'>盛夏如何不惧“烤”验？</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0720/32106.html' target='_blank'>新冠病毒传染不分季节 日常防控专家给出10个要点</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0710/32032.html' target='_blank'>中医治疗扁桃体炎</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0708/32023.html' target='_blank'>高考期间饮食作息指南</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0706/31990.html' target='_blank'>个人防护指南：开窗通风重清洁 勤晒被褥勤换衣</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0703/31966.html' target='_blank'>50岁后，心脑血管来次大检查</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0701/31949.html' target='_blank'>夏至已至要正确节气护眼</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0629/31936.html' target='_blank'>中医治疗扁桃体炎</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0624/31906.html' target='_blank'>新发地疫情源头待解 冷链物流还靠谱吗</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0622/31883.html' target='_blank'>朋克养生要不得</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0619/31871.html' target='_blank'>戴口罩、手卫生、手机消毒等 个人防护措施仍要做好</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0617/31860.html' target='_blank'>献血小知识你了解多少</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0615/31834.html' target='_blank'>高温来袭 如何做好健康防护 消夏饮食这样吃</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0612/31801.html' target='_blank'>巩固防控成果 严防出现反弹</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0610/31770.html' target='_blank'>手足口病流行季即将来临 加强联防联控</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0608/31743.html' target='_blank'>中医如何“降服”高血压</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0605/31732.html' target='_blank'>抗病防衰抓3个年龄点</a>
                                            </li>
                                            <li>
                                                <span>【热资讯】</span>
                                                <a href='https://mp.weixin.qq.com/s/9CwVpdgvNJ6OqSy9J4gDTg' target='_blank'>上饶家长必看，不要给孩子“照旧”接种疫苗了，下月起有这些变化……</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0529/31652.html' target='_blank'>提高宝宝抵抗力就这么做 妈妈们做对了吗</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0525/31604.html' target='_blank'>老人总被保健品坑 几个奇招送给爸妈爬出“坑”</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0513/31516.html' target='_blank'>花生、鸡蛋、牛奶擂主争霸 最养人的是谁</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0511/31500.html' target='_blank'>补血吃大枣？错！ 这些食物比大枣有效10倍</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0507/31473.html' target='_blank'>小瓜子 大营养 3招教你“嗑”出健康来</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0505/31466.html' target='_blank'>天太热想摘口罩怎么办？能吹空调吗？</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0503/31455.html' target='_blank'>【健康教育】牛肉别再用清水洗，只会越洗越脏，教你一招，脏东西血水自己出来！</a>
                                            </li>
                                            <li>
                                                <span>【部门行】</span>
                                                <a href='/html/bmx/2020/0429/31430.html' target='_blank'>信州区小学(幼儿园)主题直播“车”开进上饶市第三小学</a>
                                            </li>
                                            <li>
                                                <span>【文明实践】</span>
                                                <a href='/html/wmsj/2020/0429/31429.html' target='_blank'>吃“好”核桃是个“技术活儿”</a>
                                            </li>
                                            <li>
                                                <span>【部门行】</span>
                                                <a href='/html/bmx/2020/0428/31419.html' target='_blank'>“筑校园安全屏障，护幸福金葵少年” 上饶市实验小学返校演练直播活动反响强烈</a>
                                            </li>
                                        </ul>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper-right">
                <div class="box">
                    <div class="title">
                        <h6>站内搜索</h6>
                    </div>
                    <div class="content">
                        <div class="wrapper-search">
                            <script type="text/javascript" src="../lib/list.js"></script>
                            <form action="/plus/search.php" class="form-inline" method="post" onSubmit="return validSearch()">
                                <input type="text" name="q" id="search-keyword" class="form-control" placeholder="请输入关键词..." value="" />
                                <button type="submit" class="btn btn-primary">搜索</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="title">
                        <h6>推荐专题</h6>
                    </div>
                    <div class="content">
                        <ul class="ali">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-footer">
        <div class="footer">
            <div class="wrapper-link">
                <a href="#">关于网站</a>
                <span>|</span>
                <a href="#">服务条款</a>
                <span>|</span>
                <a href="#">广告服务</a>
                <span>|</span>
                <a href="#">版权声明</a>
                <span>|</span>
                <a href="http://www.jxwj.gov.cn/">江西省网上警察</a>
                <span>|</span>
                <a href="https://www.12377.cn/" target="_blank">不良信息举报中心</a>
            </div>
            <div class="wrapper-info clearfix">
                <div class="wrapper-biaozhi">
                    <script type="text/javascript">
                    document.write(unescape(
                        "%3Cspan id='_ideConac' %3E%3C/span%3E%3Cscript src='http://dcs.conac.cn/js/15/233/0894/41263423/CA152330894412634230001.js' type='text/javascript'%3E%3C/script%3E"
                    ));
                    </script>
                </div>
                <div class="wrapper-copyright">
                    Copyright &copy; 2006 - 2020 中共上饶市信州区委宣传部 版权所有<br />
                    主办：信州区委、区政府、区委宣传部　承办：信州区融媒体中心<br />
                    设计制作维护：信州区融媒体中心　ICP备案号：<a href="http://beian.miit.gov.cn" target="_blank">赣ICP备12000972号-1</a><br />
                    服务热线：0793-8211109　电子邮箱：xzrjcn@163.com
                    <script type="text/javascript">
                    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                    document.write(unescape("%3Cscript src='" + _bdhmProtocol +
                        "hm.baidu.com/h.js%3Fa5f9481477646f8ef4248ac4e135a8d5' type='text/javascript'%3E%3C/script%3E"));
                    </script>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../lib/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>