<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="copyright" content="中共上饶市信州区委宣传部">
    <meta name="email" content="hqrush@qq.com">
    <meta name="charset" content="UTF-8">
    <meta name="rating" content="General">
    <meta name="robots" content="INDEX,FOLLOW">
    <title>信州人家网——关注民生，贴近市民，服务百姓</title>
     <!--[if lt IE 9]>
    <script src="../lib/html5shiv.min.js"></script>
    <script src="../lib/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" media="screen" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" media="screen" type="text/css" href="../assets/style/common.css" />
  <link rel="stylesheet" media="screen" type="text/css" href="../assets/style/list.css" />
  <link rel="stylesheet" media="screen" type="text/css" href="../assets/style/list-spec.css" />
</head>

<body>
    <div class="wrapper-header">
        <div class="header clearfix">
            <div class="wrapper-logo"><img src="../assets/image/logo.png" /></div>
            <div class="wrapper-nav">
                <ul class="clearfix">
                    <li><a class="a01" href="/">首页</a></li>
                    <li><a class="a02" href="xinzhou.html">最信州</a></li>
                    <li><a class="a03" href="/plus/list.php?tid=68">热资讯</a></li>
                    <li><a class="a04" href="special.html">专题集</a></li>
                    <li><a class="a05" href="/plus/list.php?tid=67">镇街窗</a></li>
                    <li><a class="a06" href="/plus/list.php?tid=69">部门行</a></li>
                    <li><a class="a07" href="/plus/list.php?tid=70">文明实践</a></li>
                    <li><a class="a08" href="picture.html">美如画</a></li>
                    <li><a class="a09" href="/plus/list.php?tid=71">融直播</a></li>
                    <li><a class="a10" href="/plus/list.php?tid=76">短视频</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 导航栏下方通栏广告 -->
    <div class="wrapper-tl">
        <div class="tl">
            <a href="#" id="qyuef"><img src="../assets/uploadfile/1-200409121555Y7.jpg" border="0" /></a>
        </div>
    </div>
    <div class="wrapper-tl">
        <div class="tl clearfix">
            <div class="wrapper-list-spec">
                <div class="box">
                    <div class="title">
                        <div class="alert alert-secondary" role="alert">
                            当前位置：<a href="/">信州人家网首页</a> &gt; <a href="/special/index.html">专题集</a> &gt; 专题列表
                        </div>
                    </div>
                    <div class="content">
                        <ul class="ali-spec">
                            <li>
                                <a href="/plus/view.php?aid=30693" title="健康教育" target="_blank" class="clearfix">
                                    <img src="../assets/uploadfile/1-200409114026217.jpg" alt="健康教育" height="80" class="img-thumbnail" />
                                    <p>
                                        健康教育
                                        <span>
                                            时间：2020-02-10
                                            责任编辑：信州人家网
                                        </span>
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="/plus/view.php?aid=33931" title="奋斗百年路 启航新征程" target="_blank" class="clearfix">
                                    <img src="../assets/uploadfile/1-21031112513QG.jpg" alt="奋斗百年路 启航新征程" height="80" class="img-thumbnail" />
                                    <p>
                                        奋斗百年路 启航新征程
                                        <span>
                                            时间：2021-03-09
                                            责任编辑：信州人家网
                                        </span>
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="/plus/view.php?aid=34165" title="国家安全教育" target="_blank" class="clearfix">
                                    <img src="../assets/uploadfile/1-2104121K2380-L.jpg" alt="国家安全教育" height="80" class="img-thumbnail" />
                                    <p>
                                        国家安全教育
                                        <span>
                                            时间：2021-04-12
                                            责任编辑：信州人家网
                                        </span>
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="/plus/view.php?aid=34062" title="“12380”举报专栏" target="_blank" class="clearfix">
                                    <img src="../assets/uploadfile/1-2103261S453L8.jpg" alt="“12380”举报专栏" height="80" class="img-thumbnail" />
                                    <p>
                                        “12380”举报专栏
                                        <span>
                                            时间：2021-03-26
                                            责任编辑：信州人家网
                                        </span>
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="/plus/view.php?aid=34004" title="反诈骗" target="_blank" class="clearfix">
                                    <img src="../assets/uploadfile/1-21031R006190-L.jpg" alt="反诈骗" height="80" class="img-thumbnail" />
                                    <p>
                                        反诈骗
                                        <span>
                                            时间：2021-03-18
                                            责任编辑：信州人家网
                                        </span>
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="/plus/view.php?aid=33883" title="2021年两会" target="_blank" class="clearfix">
                                    <img src="../assets/uploadfile/1-2103030126230-L.jpg" alt="2021年两会" height="80" class="img-thumbnail" />
                                    <p>
                                        2021年两会
                                        <span>
                                            时间：2021-03-03
                                            责任编辑：信州人家网
                                        </span>
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="/plus/view.php?aid=33605" title="新春走基层" target="_blank" class="clearfix">
                                    <img src="../assets/uploadfile/1-2101242003370-L.jpg" alt="新春走基层" height="80" class="img-thumbnail" />
                                    <p>
                                        新春走基层
                                        <span>
                                            时间：2021-01-24
                                            责任编辑：信州人家网
                                        </span>
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="/plus/view.php?aid=31424" title="决战决胜脱贫攻坚" target="_blank" class="clearfix">
                                    <img src="../assets//uploadfile/1-2004291053540-L.jpg" alt="决战决胜脱贫攻坚" height="80" class="img-thumbnail" />
                                    <p>
                                        决战决胜脱贫攻坚
                                        <span>
                                            时间：2020-04-29
                                            责任编辑：信州人家网
                                        </span>
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="/plus/view.php?aid=32852" title="网络中国节·重阳" target="_blank" class="clearfix">
                                    <img src="../assets/uploadfile/1-201023130Q70-L.jpg" alt="网络中国节·重阳" height="80" class="img-thumbnail" />
                                    <p>
                                        网络中国节·重阳
                                        <span>
                                            时间：2020-10-23
                                            责任编辑：信州人家网
                                        </span>
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="/plus/view.php?aid=32641" title="倡导国庆新民俗打造爱国活动周" target="_blank" class="clearfix">
                                    <img src="../assets//uploadfile/1-2009231049520-L.jpg" alt="倡导国庆新民俗打造爱国活动周" height="80" class="img-thumbnail" />
                                    <p>
                                        倡导国庆新民俗打造爱国活动周
                                        <span>
                                            时间：2020-09-23
                                            责任编辑：信州人家网
                                        </span>
                                    </p>
                                </a>
                            </li>
                        </ul>
                        <ul class="apager">
                            <li><a>首页</a></li>
                            <li class="thisclass"><a>1</a></li>
                            <li><a href='spec_2.html'>2</a></li>
                            <li><a href='spec_2.html'>下一页</a></li>
                            <li><a href='spec_2.html'>末页</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wrapper-right">
                <div class="box">
                    <div class="title">
                        <h6>站内搜索</h6>
                    </div>
                    <div class="content">
                        <div class="wrapper-search">
                            <script type="text/javascript" src="../lib/list.js"></script>
                            <form action="/plus/search.php" class="form-inline" method="post" onSubmit="return validSearch()">
                                <input type="text" name="q" id="search-keyword" class="form-control" placeholder="请输入关键词..." value="" />
                                <button type="submit" class="btn btn-primary">搜索</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-footer">
        <div class="footer">
            <div class="wrapper-link">
                <a href="#">关于网站</a>
                <span>|</span>
                <a href="#">服务条款</a>
                <span>|</span>
                <a href="#">广告服务</a>
                <span>|</span>
                <a href="#">版权声明</a>
                <span>|</span>
                <a href="http://www.jxwj.gov.cn/">江西省网上警察</a>
                <span>|</span>
                <a href="https://www.12377.cn/" target="_blank">不良信息举报中心</a>
            </div>
            <div class="wrapper-info clearfix">
                <div class="wrapper-biaozhi">
                    <script type="text/javascript">
                    document.write(unescape(
                        "%3Cspan id='_ideConac' %3E%3C/span%3E%3Cscript src='http://dcs.conac.cn/js/15/233/0894/41263423/CA152330894412634230001.js' type='text/javascript'%3E%3C/script%3E"
                    ));
                    </script>
                </div>
                <div class="wrapper-copyright">
                    Copyright &copy; 2006 - 2020 中共上饶市信州区委宣传部 版权所有<br />
                    主办：信州区委、区政府、区委宣传部　承办：信州区融媒体中心<br />
                    设计制作维护：信州区融媒体中心　ICP备案号：<a href="http://beian.miit.gov.cn" target="_blank">赣ICP备12000972号-1</a><br />
                    服务热线：0793-8211109　电子邮箱：xzrjcn@163.com
                    <script type="text/javascript">
                    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                    document.write(unescape("%3Cscript src='" + _bdhmProtocol +
                        "hm.baidu.com/h.js%3Fa5f9481477646f8ef4248ac4e135a8d5' type='text/javascript'%3E%3C/script%3E"));
                    </script>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../lib/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>