<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="keywords" content="捐赠,爱心,书包,情暖,留守,孩子,爱心,点燃," />
    <meta name="description" content="爱心点燃希望，真情传递温暖。近日，一场爱的传递儿童安全书包套餐公益捐赠活动席卷信州区沙溪中心小学。一颗颗童心化为爱心汇聚成一股股暖流，让信州沙溪的留守学生感受到了浓浓暖" />
    <meta name="copyright" content="中共上饶市信州区委宣传部">
    <meta name="email" content="hqrush@qq.com">
    <meta name="charset" content="UTF-8">
    <meta name="rating" content="General">
    <meta name="robots" content="INDEX,FOLLOW">
    <title>信州人家网——关注民生，贴近市民，服务百姓</title>
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv.min.js"></script>
    <script src="../lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" media="screen" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" media="screen" type="text/css" href="../assets/style/common.css" />
    <link rel="stylesheet" media="screen" type="text/css" href="../assets/style/article.css" />
</head>

<body>
    <div class="wrapper-header">
        <div class="header clearfix">
            <div class="wrapper-logo"><img src="../assets/image/logo.png" /></div>
            <div class="wrapper-nav">
                <ul class="clearfix">
                    <li><a class="a01" href="/">首页</a></li>
                    <li><a class="a02" href="xinzhou.html">最信州</a></li>
                    <li><a class="a03" href="/plus/list.php?tid=68">热资讯</a></li>
                    <li><a class="a04" href="special.html">专题集</a></li>
                    <li><a class="a05" href="/plus/list.php?tid=67">镇街窗</a></li>
                    <li><a class="a06" href="/plus/list.php?tid=69">部门行</a></li>
                    <li><a class="a07" href="/plus/list.php?tid=70">文明实践</a></li>
                    <li><a class="a08" href="picture.html">美如画</a></li>
                    <li><a class="a09" href="/plus/list.php?tid=71">融直播</a></li>
                    <li><a class="a10" href="/plus/list.php?tid=76">短视频</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 导航栏下方通栏广告 -->
    <div class="wrapper-tl">
        <div class="tl">
            <a href="#" id="qyuef"><img src="../assets/uploadfile/1-200409121555Y7.jpg" border="0" /></a>
        </div>
    </div>
    <div class="wrapper-tl">
        <div class="tl clearfix">
            <div class="wrapper-content">
                <div class="box">
                    <div class="alert alert-secondary" role="alert">
                        当前位置：<a href='xzrj.cn/'>信州人家网首页</a> > <a href='/html/zxz/list66_1.html'>最信州</a> > 正文
                    </div>
                    <div class="content">
                        <div class="wrapper-title">
                            <h2>捐赠爱心书包 情暖留守孩子</h2>
                        </div>
                        <div class="wrapper-info">
                            时间：<span>2021-07-04</span>
                            来源：<span>信州资讯</span>
                            责任编辑：<span>信州人家网</span>
                            <a href="javascript:void(0)" onClick="addFontSize();">增大字号</a>
                            <a href="javascript:void(0)" onClick="reduceFontSize();">减小字号</a>
                            <a href="javascript:void(0)" onClick="window.print();">打印</a>
                            <script type="text/javascript" src="../lib/article.js"></script>
                        </div>
                        <p class="wrapper-desc"><span>文章摘要：</span>爱心点燃希望，真情传递温暖。近日，一场爱的传递儿童安全书包套餐公益捐赠活动席卷信州区沙溪中心小学。一颗颗童心化为爱心汇聚成一股股暖流，让信州沙溪的留守学生感受到了浓浓暖</p>
                        <div id="wrapper-body">
                            <p>爱心点燃希望，真情传递温暖。近日，一场&ldquo;爱的传递&mdash;&mdash;儿童安全书包套餐&rdquo;公益捐赠活动席卷信州区沙溪中心小学。一颗颗童心化为爱心汇聚成一股股暖流，让信州沙溪的留守学生感受到了浓浓暖意。</p>
                            <p style="text-align: center;"><img src="https://xzrj.cn/uploadfile/allimg/210704/1_210704214439_3.jpg" width="640" border="0" alt="" style="text-align: center;" /></p>
                            <p>&ldquo;捐一个书包，留一份真情&rdquo;。为了赶上学生在校末班车，让学生度一个愉快的暑假。7月2日，在学生领成绩单之时，上饶市妇女联合会和信州区妇女联合会以及爱心企业德力西联合开关集团有限公司共同把250套书包及时送到了信州区沙溪中心小学留守学生手中。市妇联副主席程秀琴以及区妇联、爱心企业相关负责人参加活动。</p>
                            <p>捐赠仪式上，程秀琴对德力西联合开关集团有限公司的爱心行为表示衷心地感谢，并叮嘱孩子们要好好学习，健康成长，常怀感恩之心，常念感激之情，以优异的成绩回报社会，回报进行资助的好心人。</p>
                            <p style="text-align: center;"><img src="https://xzrj.cn/uploadfile/allimg/210704/1_210704214439_2.jpg" width="640" border="0" alt="" style="text-align: center;" /></p>
                            <p>&ldquo;很高兴与孩子们相聚，希望我们的一点爱心能让他们感受到亲人般的温暖。希望我们送来的小书包，能托起更多孩子的读书梦，希望通过我们的努力，可以给这些孩子带来更多的信心和希望。&rdquo;德力西联合开关集团有限公司负责人魏武平说。</p>
                            <p>小书包，大爱心，小小的书包承载了无限的寄托，看着崭新的书包，孩子们脸上露出高兴的笑容，纷纷表示一定要努力学习不辜负社会爱心人士对他们的关爱。</p>
                            <p>此次捐赠的儿童安全书包具有全反光、防物体坠落砸伤、救生浮具、求生口哨四大功能，这些功能为孩子提供必要的安全保障，对于进一步保护留守儿童，降低意外伤害具有重要作用。书包内含《校园安全》《交通安全》《卫生安全》等关爱中小学生健康成长丛书和水杯、跳绳、文具盒、文具等儿童大礼包。</p>
                        </div>
                    </div>
                </div>
                <!-- 相关阅读 -->
                <div class="box wrapper-relate">
                    <div class="title">
                        <h6>相关阅读</h6>
                    </div>
                    <div class="content">
                        <table width='100%' border='0' cellspacing='0' cellpadding='0'>
                            <tr>
                                <td width='50%'>
                                    <a href='/html/zxz/2021/0701/36168.html'> 民进“‘同心·彩虹行动’——上饶市开明书…</a>
                                </td>
                                <td width='50%'>
                                    <a href='/html/zxz/2021/0413/34174.html'>信州区启动“同心助学·大爱工程”公益捐赠…</a>
                                </td>
                            </tr>
                            <tr>
                                <td width='50%'>
                                    <a href='/html/zxz/2021/0320/34007.html'>省总工会到信州区调研上饶首家“24小时爱心…</a>
                                </td>
                                <td width='50%'>
                                    <a href='/html/zxz/2021/0314/33964.html'>邻里书架，爱心传递！信州区公益捐书在行动…</a>
                                </td>
                            </tr>
                            <tr>
                                <td width='50%'>
                                    <a href='/html/zxz/2021/0307/33912.html'>乐分享，品书香——信州区开展“邻里书架、…</a>
                                </td>
                                <td width='50%'>
                                    <a href='/html/zxz/2021/0124/33618.html'>献绵薄爱心，上饶市新时代志愿者“暖心行动…</a>
                                </td>
                            </tr>
                            <tr>
                                <td width='50%'>
                                    <a href='/html/zxz/2020/1227/33390.html'>扶贫启动仪式暨爱心捐赠活动举行</a>
                                </td>
                                <td width='50%'>
                                    <a href='/html/zxz/2020/1206/33224.html'>公交车上一路半蹲呵护 六小小暖男徐锦鸿太…</a>
                                </td>
                            </tr>
                            <tr>
                                <td width='50%'>
                                    <a href='/html/zxz/2020/0810/32304.html'>【打赢脱贫攻坚战】教育扶贫扶志 爱心筑梦起…</a>
                                </td>
                                <td width='50%'>
                                    <a href='/html/zxz/2018/0717/29862.html'>区政协举行政协委员送文化进校园活动暨夏布…</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="wrapper-right">
                <div class="box">
                    <div class="title">
                        <h6>站内搜索</h6>
                    </div>
                    <div class="content">
                        <div class="wrapper-search">
                            <script type="text/javascript" src="../lib/list.js"></script>
                            <form action="/plus/search.php" class="form-inline" method="post" onSubmit="return validSearch()">
                                <input type="text" name="q" id="search-keyword" class="form-control" placeholder="请输入关键词..." value="" />
                                <button type="submit" class="btn btn-primary">搜索</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="title">
                        <h6>精彩瞬间</h6>
                    </div>
                    <div class="content">
                        <ul class="ali-pic clearfix">
                            <li class='s1'>
                                <a href="/html/zxz/2021/0701/36170.html" title="【学党史 践初心】信州区党员干部群众收听收看" target=_blank>
                                    <img src="../assets/uploadfile/1-210F1225I80-L.gif" alt="" class="img-thumbnail" />
                                    <p>【学党史 践初心】信州区党员干…</p>
                                </a>
                            </li>
                            <li class='s2'>
                                <a href="/html/zxz/2021/0630/36149.html" title="丁晓胜到我区调研防汛工作" target=_blank>
                                    <img src="../assets/uploadfile/1-2106301126460-L.jpg" alt="" class="img-thumbnail" />
                                    <p>丁晓胜到我区调研防汛工作</p>
                                </a>
                            </li>
                            <li class='s1'>
                                <a href="/html/zxz/2021/0627/36092.html" title="信州区总工会“庆建党百年 展职工风采”征文、" target=_blank>
                                    <img src="../assets/uploadfile/1-21062H130440-L.gif" alt="" class="img-thumbnail" />
                                    <p>信州区总工会“庆建党百年 展职…</p>
                                </a>
                            </li>
                            <li class='s2'>
                                <a href="/html/zxz/2021/0625/36080.html" title="廖其志到信州区走访慰问党内荣誉表彰对象、老" target=_blank>
                                    <img src="../assets/uploadfile/1-2106252302540-L.jpg" alt="" class="img-thumbnail" />
                                    <p>廖其志到信州区走访慰问党内荣誉…</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box">
                    <div class="title">
                        <h6>推荐内容</h6>
                    </div>
                    <div class="content">
                        <ul class="ali">
                            <li>
                                <a href="/html/zxz/2021/0606/35951.html" title="信州区推动党史学习教育走深走实">
                                    信州区推动党史学习教育走深走实
                                </a>
                            </li>
                            <li>
                                <a href="/html/zxz/2021/0608/35958.html" title="坚持问题导向 强化任务落实 信州区营商环境得到整体提升">
                                    坚持问题导向 强化任务落实 信州区营商…
                                </a>
                            </li>
                            <li>
                                <a href="/html/zxz/2021/0608/35974.html" title="信州区生态文明建设领导小组暨信州区推动长江经济带发展领导小组第一次会议召开">
                                    信州区生态文明建设领导小组暨信州区推…
                                </a>
                            </li>
                            <li>
                                <a href="/html/zxz/2021/0609/35979.html" title="致在广东信州籍乡友的一封信">
                                    致在广东信州籍乡友的一封信
                                </a>
                            </li>
                            <li>
                                <a href="/html/zxz/2021/0611/35983.html" title="483户！589个停车位！信州这个安置房建设项目有了新进展">
                                    483户！589个停车位！信州这个安置房建设…
                                </a>
                            </li>
                            <li>
                                <a href="/html/zxz/2021/0614/35999.html" title="“越歌琴韵颂党恩”传统越剧展演走进信州">
                                    “越歌琴韵颂党恩”传统越剧展演走进信…
                                </a>
                            </li>
                            <li>
                                <a href="/html/zxz/2021/0615/36011.html" title="市委党史学习教育第一巡回指导组来信州区督导工作">
                                    市委党史学习教育第一巡回指导组来信州…
                                </a>
                            </li>
                            <li>
                                <a href="/html/zxz/2021/0617/36029.html" title="潘表光调研“创文”线片联创共建工作">
                                    潘表光调研“创文”线片联创共建工作…
                                </a>
                            </li>
                            <li>
                                <a href="/html/zxz/2021/0620/36036.html" title="潘表光到江西消费扶贫信州馆调研指导工作">
                                    潘表光到江西消费扶贫信州馆调研指导工…
                                </a>
                            </li>
                            <li>
                                <a href="/html/zxz/2021/0622/36052.html" title="常住人口总数为 545134人！信州区第七次全国人口普查公报出炉">
                                    常住人口总数为 545134人！信州区第七次全…
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-footer">
        <div class="footer">
            <div class="wrapper-link">
                <a href="#">关于网站</a>
                <span>|</span>
                <a href="#">服务条款</a>
                <span>|</span>
                <a href="#">广告服务</a>
                <span>|</span>
                <a href="#">版权声明</a>
                <span>|</span>
                <a href="http://www.jxwj.gov.cn/">江西省网上警察</a>
                <span>|</span>
                <a href="https://www.12377.cn/" target="_blank">不良信息举报中心</a>
            </div>
            <div class="wrapper-info clearfix">
                <div class="wrapper-biaozhi">
                    <script type="text/javascript">
                    document.write(unescape(
                        "%3Cspan id='_ideConac' %3E%3C/span%3E%3Cscript src='http://dcs.conac.cn/js/15/233/0894/41263423/CA152330894412634230001.js' type='text/javascript'%3E%3C/script%3E"
                    ));
                    </script>
                </div>
                <div class="wrapper-copyright">
                    Copyright &copy; 2006 - 2020 中共上饶市信州区委宣传部 版权所有<br />
                    主办：信州区委、区政府、区委宣传部　承办：信州区融媒体中心<br />
                    设计制作维护：信州区融媒体中心　ICP备案号：<a href="http://beian.miit.gov.cn" target="_blank">赣ICP备12000972号-1</a><br />
                    服务热线：0793-8211109　电子邮箱：xzrjcn@163.com
                    <script type="text/javascript">
                    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                    document.write(unescape("%3Cscript src='" + _bdhmProtocol +
                        "hm.baidu.com/h.js%3Fa5f9481477646f8ef4248ac4e135a8d5' type='text/javascript'%3E%3C/script%3E"));
                    </script>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../lib/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>