<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="copyright" content="中共上饶市信州区委宣传部">
    <meta name="email" content="hqrush@qq.com">
    <meta name="charset" content="UTF-8">
    <meta name="rating" content="General">
    <meta name="robots" content="INDEX,FOLLOW">
    <title>信州人家网——关注民生，贴近市民，服务百姓</title>
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv.min.js"></script>
    <script src="../lib/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" media="screen" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" media="screen" type="text/css" href="../assets/style/common.css" />
  <link rel="stylesheet" media="screen" type="text/css" href="../assets/style/list.css" />
  <link rel="stylesheet" media="screen" type="text/css" href="../assets/style/list-txt.css" />
</head>

<body>
    <div class="wrapper-header">
        <div class="header clearfix">
            <div class="wrapper-logo"><img src="../assets/image/logo.png" /></div>
            <div class="wrapper-nav">
                <ul class="clearfix">
                    <li><a class="a01" href="/">首页</a></li>
                    <li><a class="a02" href="xinzhou.html">最信州</a></li>
                    <li><a class="a03" href="/plus/list.php?tid=68">热资讯</a></li>
                    <li><a class="a04" href="special.html">专题集</a></li>
                    <li><a class="a05" href="/plus/list.php?tid=67">镇街窗</a></li>
                    <li><a class="a06" href="/plus/list.php?tid=69">部门行</a></li>
                    <li><a class="a07" href="/plus/list.php?tid=70">文明实践</a></li>
                    <li><a class="a08" href="picture.html">美如画</a></li>
                    <li><a class="a09" href="/plus/list.php?tid=71">融直播</a></li>
                    <li><a class="a10" href="/plus/list.php?tid=76">短视频</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 导航栏下方通栏广告 -->
    <div class="wrapper-tl">
        <div class="tl">
            <a href="#" id="qyuef"><img src="../assets/uploadfile/1-200409121555Y7.jpg" border="0" /></a>
        </div>
    </div>
    <div class="wrapper-tl">
        <div class="tl clearfix">
            <div class="wrapper-list-txt">
                <div class="box">
                    <div class="title">
                        <div class="alert alert-secondary" role="alert">
                            当前位置：<a href='xzrj.cn/'>信州人家网首页</a> > <a href='/html/zxz/list66_1.html'>最信州</a> > 文章列表
                        </div>
                    </div>
                    <div class="content">
                        <ul class="ali">
                            <li class="clearfix">
                                <a target="_blank" title="捐赠爱心书包 情暖留守孩子" href="/html/zxz/2021/0704/36183.html">捐赠爱心书包 情暖留守孩子</a>
                                <span class="adate">2021-07-04</span>
                            </li>
                            <li class="clearfix">
                                <a target="_blank" title="安全无小事 全区为民办实事能量条再拉满" href="/html/zxz/2021/0704/36180.html">安全无小事 全区为民办实事能量条再拉满</a>
                                <span class="adate">2021-07-04</span>
                            </li>
                            <li class="clearfix">
                                <a target="_blank" title="信州区加快推进问题楼盘化解工作" href="/html/zxz/2021/0703/36177.html">信州区加快推进问题楼盘化解工作</a>
                                <span class="adate">2021-07-02</span>
                            </li>
                            <li class="clearfix">
                                <a target="_blank" title="【学党史 践初心】信州区党员干部群众收听收看庆祝中国共产党成立100周年大会盛况" href="/html/zxz/2021/0701/36170.html">【学党史 践初心】信州区党员干部群众收听收看庆祝中国共产党成立100周年大会盛况</a>
                                <span class="adate">2021-07-01</span>
                            </li>
                            <li class="clearfix">
                                <a target="_blank" title="百年华诞！习近平这些话让人心潮澎湃" href="/html/zxz/2021/0701/36169.html">百年华诞！习近平这些话让人心潮澎湃</a>
                                <span class="adate">2021-07-01</span>
                            </li>
                            <li class="hr"></li>
                            <li class="clearfix">
                                <a target="_blank" title="民进“‘同心·彩虹行动’——上饶市开明书屋捐赠启动仪式”在上饶市信州区举行" href="/html/zxz/2021/0701/36168.html">民进“‘同心·彩虹行动’——上饶市开明书屋捐赠启动仪式”在上饶市信州区举行</a>
                                <span class="adate">2021-06-30</span>
                            </li>
                            <li class="clearfix">
                                <a target="_blank" title="【学党史 践初心】佳作云集 这场书画展不容错过！" href="/html/zxz/2021/0630/36153.html">【学党史 践初心】佳作云集 这场书画展不容错过！</a>
                                <span class="adate">2021-06-29</span>
                            </li>
                            <li class="clearfix">
                                <a target="_blank" title="丁晓胜到我区调研防汛工作" href="/html/zxz/2021/0630/36149.html">丁晓胜到我区调研防汛工作</a>
                                <span class="adate">2021-06-29</span>
                            </li>
                            <li class="clearfix">
                                <a target="_blank" title="省人大社会委调研组来信州区调研退役军人工作" href="/html/zxz/2021/0630/36148.html">省人大社会委调研组来信州区调研退役军人工作</a>
                                <span class="adate">2021-06-29</span>
                            </li>
                            <li class="clearfix">
                                <a target="_blank" title="区人大开展安全生产“一法一条例”执法检查" href="/html/zxz/2021/0628/36144.html">区人大开展安全生产“一法一条例”执法检查</a>
                                <span class="adate">2021-06-28</span>
                            </li>
                            <li class="hr"></li>
                            <li class="clearfix">
                                <a target="_blank" title="信州区连夜召开全区防汛工作布置会" href="/html/zxz/2021/0628/36142.html">信州区连夜召开全区防汛工作布置会</a>
                                <span class="adate">2021-06-28</span>
                            </li>
                            <li class="clearfix">
                                <a target="_blank" title="信州区召开2021年上半年度经济社会发展及“双过半”工作调度会" href="/html/zxz/2021/0627/36093.html">信州区召开2021年上半年度经济社会发展及“双过半”工作调度会</a>
                                <span class="adate">2021-06-27</span>
                            </li>
                            <li class="clearfix">
                                <a target="_blank" title="信州区总工会“庆建党百年 展职工风采”征文、书法、美术、摄影作品开展了！" href="/html/zxz/2021/0627/36092.html">信州区总工会“庆建党百年 展职工风采”征文、书法、美术、摄影作品开展了！</a>
                                <span class="adate">2021-06-27</span>
                            </li>
                            <li class="clearfix">
                                <a target="_blank" title="致敬先锋！信州区召开“两优一先”表彰大会" href="/html/zxz/2021/0627/36085.html">致敬先锋！信州区召开“两优一先”表彰大会</a>
                                <span class="adate">2021-06-27</span>
                            </li>
                            <li class="clearfix">
                                <a target="_blank" title="信州区福海老年公寓获批江西省首批四星级养老机构！" href="/html/zxz/2021/0625/36083.html">信州区福海老年公寓获批江西省首批四星级养老机构！</a>
                                <span class="adate">2021-06-25</span>
                            </li>
                            <li class="hr"></li>
                            <li class="clearfix">
                                <a target="_blank" title="廖其志到信州区走访慰问党内荣誉表彰对象、老党员和生活困难党员" href="/html/zxz/2021/0625/36080.html">廖其志到信州区走访慰问党内荣誉表彰对象、老党员和生活困难党员</a>
                                <span class="adate">2021-06-25</span>
                            </li>
                            <li class="clearfix">
                                <a target="_blank" title="谍战院线电影《上饶1942》项目发布会在饶举行" href="/html/zxz/2021/0625/36075.html">谍战院线电影《上饶1942》项目发布会在饶举行</a>
                                <span class="adate">2021-06-25</span>
                            </li>
                            <li class="clearfix">
                                <a target="_blank" title="信州区文明驿站志愿者（红十字会救护员）培训班正式开班了！" href="/html/zxz/2021/0624/36070.html">信州区文明驿站志愿者（红十字会救护员）培训班正式开班了！</a>
                                <span class="adate">2021-06-24</span>
                            </li>
                            <li class="clearfix">
                                <a target="_blank" title="这部地方性法规立法调研座谈会在我区举行 看看会上透露了哪些信息？" href="/html/zxz/2021/0624/36069.html">这部地方性法规立法调研座谈会在我区举行 看看会上透露了哪些信息？</a>
                                <span class="adate">2021-06-24</span>
                            </li>
                            <li class="clearfix">
                                <a target="_blank" title="压紧夯实安全生产责任，省安委会第四专项巡查组到信州区开展安全生产专项巡查工作" href="/html/zxz/2021/0624/36068.html">压紧夯实安全生产责任，省安委会第四专项巡查组到信州区开展安全生产专项巡查工作</a>
                                <span class="adate">2021-06-24</span>
                            </li>
                        </ul>
                        <ul class="apager clearfix">
                            <li><a>首页</a></li>
                            <li class="thisclass"><a>1</a></li>
                            <li><a href='/plus/list.php?tid=66&TotalResult=1459&PageNo=2'>2</a></li>
                            <li><a href='/plus/list.php?tid=66&TotalResult=1459&PageNo=3'>3</a></li>
                            <li><a href='/plus/list.php?tid=66&TotalResult=1459&PageNo=4'>4</a></li>
                            <li><a href='/plus/list.php?tid=66&TotalResult=1459&PageNo=5'>5</a></li>
                            <li><a href='/plus/list.php?tid=66&TotalResult=1459&PageNo=6'>6</a></li>
                            <li><a href='/plus/list.php?tid=66&TotalResult=1459&PageNo=7'>7</a></li>
                            <li><a href='/plus/list.php?tid=66&TotalResult=1459&PageNo=8'>8</a></li>
                            <li><a href='/plus/list.php?tid=66&TotalResult=1459&PageNo=9'>9</a></li>
                            <li><a href='/plus/list.php?tid=66&TotalResult=1459&PageNo=10'>10</a></li>
                            <li><a href='/plus/list.php?tid=66&TotalResult=1459&PageNo=11'>11</a></li>
                            <li><a href='/plus/list.php?tid=66&TotalResult=1459&PageNo=2'>下一页</a></li>
                            <li><a href='/plus/list.php?tid=66&TotalResult=1459&PageNo=73'>末页</a></li>
                            <li><span class="pageinfo">共 <strong>73</strong>页<strong>1459</strong>条</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wrapper-right">
                <div class="box">
                    <div class="title">
                        <h6>站内搜索</h6>
                    </div>
                    <div class="content">
                        <div class="wrapper-search">
                            <script type="text/javascript" src="../lib/list.js"></script>
                            <form action="/plus/search.php" class="form-inline" method="post" onSubmit="return validSearch()">
                                <input type="text" name="q" id="search-keyword" class="form-control" placeholder="请输入关键词..." value="" />
                                <button type="submit" class="btn btn-primary">搜索</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="title">
                        <h6>精彩瞬间</h6>
                    </div>
                    <div class="content">
                        <ul class="ali-pic clearfix">
                            <li class='s1'>
                                <a href="/html/zxz/2021/0701/36170.html" title="【学党史 践初心】信州区党员干部群众收听收看" target=_blank>
                                    <img src="../assets/uploadfile/1-210F1225I80-L.gif" alt="" class="img-thumbnail" />
                                    <p>【学党史 践初心】信州区党员干…</p>
                                </a>
                            </li>
                            <li class='s2'>
                                <a href="/html/zxz/2021/0630/36149.html" title="丁晓胜到我区调研防汛工作" target=_blank>
                                    <img src="../assets/uploadfile/1-2106301126460-L.jpg" alt="" class="img-thumbnail" />
                                    <p>丁晓胜到我区调研防汛工作</p>
                                </a>
                            </li>
                            <li class='s1'>
                                <a href="/html/zxz/2021/0627/36092.html" title="信州区总工会“庆建党百年 展职工风采”征文、" target=_blank>
                                    <img src="../assets/uploadfile/1-21062H130440-L.gif" alt="" class="img-thumbnail" />
                                    <p>信州区总工会“庆建党百年 展职…</p>
                                </a>
                            </li>
                            <li class='s2'>
                                <a href="/html/zxz/2021/0625/36080.html" title="廖其志到信州区走访慰问党内荣誉表彰对象、老" target=_blank>
                                    <img src="../assets/uploadfile/1-2106252302540-L.jpg" alt="" class="img-thumbnail" />
                                    <p>廖其志到信州区走访慰问党内荣誉…</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box">
                    <div class="title">
                        <h6>推荐内容</h6>
                    </div>
                    <div class="content">
                        <ul class="ali">
                            <li>
                                <a href="/html/zxz/2021/0606/35951.html" title="信州区推动党史学习教育走深走实">
                                    信州区推动党史学习教育走深走实
                                </a>
                            </li>
                            <li>
                                <a href="/html/zxz/2021/0608/35958.html" title="坚持问题导向 强化任务落实 信州区营商环境得到整体提升">
                                    坚持问题导向 强化任务落实 信州区营商…
                                </a>
                            </li>
                            <li>
                                <a href="/html/zxz/2021/0608/35974.html" title="信州区生态文明建设领导小组暨信州区推动长江经济带发展领导小组第一次会议召开">
                                    信州区生态文明建设领导小组暨信州区推…
                                </a>
                            </li>
                            <li>
                                <a href="/html/zxz/2021/0609/35979.html" title="致在广东信州籍乡友的一封信">
                                    致在广东信州籍乡友的一封信
                                </a>
                            </li>
                            <li>
                                <a href="/html/zxz/2021/0611/35983.html" title="483户！589个停车位！信州这个安置房建设项目有了新进展">
                                    483户！589个停车位！信州这个安置房建设…
                                </a>
                            </li>
                            <li>
                                <a href="/html/zxz/2021/0614/35999.html" title="“越歌琴韵颂党恩”传统越剧展演走进信州">
                                    “越歌琴韵颂党恩”传统越剧展演走进信…
                                </a>
                            </li>
                            <li>
                                <a href="/html/zxz/2021/0615/36011.html" title="市委党史学习教育第一巡回指导组来信州区督导工作">
                                    市委党史学习教育第一巡回指导组来信州…
                                </a>
                            </li>
                            <li>
                                <a href="/html/zxz/2021/0617/36029.html" title="潘表光调研“创文”线片联创共建工作">
                                    潘表光调研“创文”线片联创共建工作…
                                </a>
                            </li>
                            <li>
                                <a href="/html/zxz/2021/0620/36036.html" title="潘表光到江西消费扶贫信州馆调研指导工作">
                                    潘表光到江西消费扶贫信州馆调研指导工…
                                </a>
                            </li>
                            <li>
                                <a href="/html/zxz/2021/0622/36052.html" title="常住人口总数为 545134人！信州区第七次全国人口普查公报出炉">
                                    常住人口总数为 545134人！信州区第七次全…
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-footer">
        <div class="footer">
            <div class="wrapper-link">
                <a href="#">关于网站</a>
                <span>|</span>
                <a href="#">服务条款</a>
                <span>|</span>
                <a href="#">广告服务</a>
                <span>|</span>
                <a href="#">版权声明</a>
                <span>|</span>
                <a href="http://www.jxwj.gov.cn/">江西省网上警察</a>
                <span>|</span>
                <a href="https://www.12377.cn/" target="_blank">不良信息举报中心</a>
            </div>
            <div class="wrapper-info clearfix">
                <div class="wrapper-biaozhi">
                    <script type="text/javascript">
                    document.write(unescape(
                        "%3Cspan id='_ideConac' %3E%3C/span%3E%3Cscript src='http://dcs.conac.cn/js/15/233/0894/41263423/CA152330894412634230001.js' type='text/javascript'%3E%3C/script%3E"
                    ));
                    </script>
                </div>
                <div class="wrapper-copyright">
                    Copyright &copy; 2006 - 2020 中共上饶市信州区委宣传部 版权所有<br />
                    主办：信州区委、区政府、区委宣传部　承办：信州区融媒体中心<br />
                    设计制作维护：信州区融媒体中心　ICP备案号：<a href="http://beian.miit.gov.cn" target="_blank">赣ICP备12000972号-1</a><br />
                    服务热线：0793-8211109　电子邮箱：xzrjcn@163.com
                    <script type="text/javascript">
                    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                    document.write(unescape("%3Cscript src='" + _bdhmProtocol +
                        "hm.baidu.com/h.js%3Fa5f9481477646f8ef4248ac4e135a8d5' type='text/javascript'%3E%3C/script%3E"));
                    </script>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../lib/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>