.box .title a {
    font-size: 20px;
    float: left;
    line-height: 40px;
    display: inline-block;
    padding: 0 0 0 20px;
    background: url(../image/icon_tab.gif) left center no-repeat;
  }
  
  .box .title span {
    display: inline-block;
    float: right;
  }
  
  .box .title span a {
    padding: 0;
    width: 50px;
    font-size: 0;
    background: url(../image/more.gif) left center no-repeat;
  }
  
  .wrapper-spec li {
    float: left;
    margin: 0 20px 0 0;
  }
  
  .wrapper-spec li a {
    display: inline-block;
  }
  
  .wrapper-spec li a img {
    width: 310px;
    height: 80px;
  }
  
  .wrapper-spec .s4 {
    margin: 0;
  }
  
  .wrapper-carousel {
    width: 600px;
    float: left;
  }
  
  /*
  .carousel .item {
    background-color: #777;
  }
  */
  
  .carousel-inner>.carousel-item>img {
    width: 600px;
    height: 400px;
    min-width: 100%;
    min-height: 400px;
  }
  
  .carousel-caption h5 a {
    color: #ffffff;
  }
  
  .wrapper-top {
    width: 700px;
    float: left;
    background-color: #ffffff;
    padding: 10px 0;
  }
  
  .wrapper-top1 {
    margin: 0 20px;
  }
  
  .wrapper-top1 h1 {
    font: bold 25px/60px '寰蒋闆呴粦', '榛戜綋';
    text-align: center;
    margin-bottom: 0;
  }
  
  .wrapper-top1 h1 a {
    color: #a01b1b;
  }
  
  .wrapper-top1 p {
    color: #999999;
    text-indent: 2em;
    font-size: 12px;
    line-height: 30px;
  }
  
  .wrapper-zxz-gggs {
    margin: 20px 20px 0 20px;
  }
  
  .wrapper-zxz,
  .wrapper-gggs {
    float: left;
    width: 315px;
  }
  
  .wrapper-gggs ul {
    background: url(../image/bg_gggs.png) left top no-repeat;
    margin: 0 0 0 20px;
    padding: 40px 0 0 0;
  }
  
  .wrapper-leader {
    float: left;
    width: 450px;
    margin: 0 20px 0 0;
    background: #ffffff;
  }
  
  .leader {
    margin: 20px;
  }
  
  .leader .photo-head {
    width: 120px;
    height: 160px;
    float: left;
    margin: 0 20px 0 0;
  }
  
  .leader .photo-head img {
    width: 120px;
    height: 160px;
  }
  
  .leader .news {
    float: left;
  }
  
  .leader .news .info h2 {
    margin: 0px;
    color: #ff0000;
    height: 40px;
    font: bold 20px/40px '寰蒋闆呴粦', '榛戜綋';
  }
  
  .leader .news .info h2 span {
    color: #a01b1b;
    font: bold 16px/40px '寰蒋闆呴粦', '榛戜綋';
    margin-left: 10px;
  }
  
  .leader .news .ali li {
    height: 30px;
  }
  
  .leader .news .ali li a {
    font-size: 14px;
    line-height: 30px;
    height: 30px;
  }
  
  .wrapper-ewm {
    float: left;
    width: 360px;
    background: #ffffff;
  }
  
  .wrapper-ewm .ewm {
    margin: 20px;
  }
  
  .ewm .xzzx,
  .ewm .mlxz {
    width: 160px;
    float: left;
    text-align: center;
  }
  
  .ewm .xzzx img,
  .ewm .mlxz img {
    width: 130px;
    height: 130px;
  }
  
  .ewm .xzzx p,
  .ewm .mlxz p {
    color: #999999;
    margin: 0;
    font: 12px/30px '寰蒋闆呴粦';
  }
  
  /* 淇″窞鏂伴椈鍜岀煭瑙嗛 */
  .wrapper-xzxw,
  .wrapper-video {
    width: 640px;
    float: left;
    background: #ffffff;
  }
  
  .wrapper-xzxw {
    margin-right: 20px;
  }
  
  #xzxw-player {
    width: 400px;
    height: 300px;
    float: left;
    margin: 20px 0 0 0;
  }
  
  .xzxw-list {
    width: 180px;
    float: left;
    margin: 20px 0 0 20px;
  }
  
  .xzxw-list li,
  .xzxw-list li a {
    width: 100%;
    height: 40px;
    display: block;
    font: 12px/40px '寰蒋闆呴粦';
  }
  
  .xzxw-list li a {
    padding: 0 0 0 20px;
  }
  
  .xzxw-list li:nth-of-type(odd) {
    background: #eeeeee;
  }
  
  .xzxw-list li:nth-of-type(even) {
    background: #e7e7e7;
  }
  
  .xzxw-list .active {
    background: url(../image/play.png) 5px center no-repeat;
  }
  
  .wrapper-video .ali-pic {
    margin: 20px 0 0 0;
  }
  
  .wrapper-video .ali-pic .s2 {
    margin: 0 30px;
  }
  
  .wrapper-video .ali-pic li a img {
    width: 180px;
    height: 120px;
  }
  
  /* 鐑祫璁拰鏂颁俊宸� */
  .wrapper-rzx,
  .wrapper-rzb-xxz {
    width: 640px;
    float: left;
    background: #ffffff;
    overflow: hidden;
  }
  
  .wrapper-rzx {
    margin: 0 20px 0 0;
  }
  
  .wrapper-rzx ul li {
    margin: 20px 0 0 0;
  }
  
  .wrapper-rzx ul li a {
    display: block;
  }
  
  .wrapper-rzx ul li a img {
    float: left;
    width: 120px;
    height: 90px;
  }
  
  .wrapper-rzx ul li a p {
    float: left;
    position: relative;
    width: 460px;
    height: 90px;
    margin: 0 0 0 20px;
    text-align: left;
    font-size: 18px;
    line-height: 30px;
  }
  
  .wrapper-rzx ul li a p span {
    display: block;
    text-align: right;
    width: 560px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    font: 12px/30px Arial, Helvetica, sans-serif;
  }
  
  .rzb .content a,
  .xxz .content a {
    display: inline-block;
    margin: 20px 0 0 0;
  }
  
  /* 闀囪绐椼€侀儴闂ㄨ銆佹枃鏄庡疄璺� */
  .wrapper-zjc,
  .wrapper-bmx,
  .wrapper-wmsj {
    width: 330px;
    float: left;
    background: #ffffff;
    overflow: hidden;
  }
  
  .wrapper-zjc .ali,
  .wrapper-bmx .ali {
    margin: 20px 0 0 0;
  }
  
  .wrapper-wmsj {
    width: 600px;
  }
  
  .wrapper-bmx {
    margin: 0 20px;
  }
  
  .wrapper-wmsj .ali-pic,
  .wrapper-wmsj .ali {
    width: 270px;
    float: left;
  }
  
  .wrapper-wmsj .ali-pic {
    margin: 20px 0 0 0;
  }
  
  .wrapper-wmsj .ali-pic .s1 {
    margin: 0 10px 0 0;
  }
  
  .wrapper-wmsj .ali-pic .s2 {
    margin: 0;
  }
  
  .wrapper-wmsj .ali-pic li a img {
    width: 130px;
    height: 90px;
  }
  
  .wrapper-wmsj .ali {
    margin: 20px 0 0 20px;
  }